<h1 class="display-1"><%= @place["name"] %></h1>

<p>
  <a class= "btn btn-primary btn-lg" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<div class="row">
<% for post in @posts %>
<div class="col-lg-3 col-xl-6">
  <h3><%= post["title"] %></h3>
  <h4><%= post["posted_on"] %></h4>
  <p><%= post["description"] %></p>
</div>
<% end %>
</div>


<p>
  <a class= "btn btn-primary" href="/places">Back to All Places</a>
</p>

